
$whitish: #fffdf6;
$blackish: #191917;
$pale: #fff383;
$ale: #EFC51A;
$porter: #704900;
$copper: #c98d1e;
$tomato: #dd2a24;



body {
    margin: 2rem;
    background-color: $ale;
    font-family: 'Work Sans', sans-serif;
    color: $copper;
}

main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
    color: $porter;
    transition: 237ms;
    &:hover {
        color: $ale;
    }
}

.beer_card {
    background-color: $pale;
    height: 12rem;
    width: 14rem;
    margin: 1rem;
    position:relative;
    border-radius: 2rem 0 0 2rem ;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.17);
    & > div {
        color: $blackish;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-flow: column;
        &.name {
            width: 10rem;
            left: 2rem;
            height: 4rem;   
            font-weight: 600;  
            a {
                color: $porter;
                transition: 237ms;
                text-align: center;
                display: flex;
                width: 100%;
                height: 100%;
                padding: 0 1rem;
                left: 0rem;
                position: absolute;
                align-items: center;
                background-color: $whitish;
                &:hover {
                    opacity: 0.76;
                    color: $blackish;
                }                  
            }
        }
        &.city {
            left: 2rem;
            height: 5rem;
            top: 4rem;
            width: 10rem;
            padding: .5rem 1rem;           
        }
        &.location {
            left: 2rem;
            height: 3rem;
            top: 9rem;
            width: 10rem;
            padding: 0 1rem;
            font-size: 2rem;             
        }                    
        &.brewery_type {
            background-color: $porter;
            top: 5rem;
            left: -5rem;
            width: 12rem;
            height: 2rem; 
            color: $whitish;  
            transform: rotate(270deg);
            font-size: 0.75rem; 
            border-radius: 2rem 2rem 0 0;
            &.micro {
                background-color: $tomato;
                font-weight: 600;
             }
            &.brewpub {
                background: $copper;
            }
            &.regional {
                background: $blackish;
            }
        }
    }
}
